@import "tailwindcss";

@theme {
    --animate-fade-in-up: fadeInUp 0.5s ease-out;
    --animate-fade-in-down: fadeInDown 0.3s ease-out;
    --animate-gradient-x: gradient-x 15s ease infinite;

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes gradient-x {

        0%,
        100% {
            background-size: 200% 200%;
            background-position: left center;
        }

        50% {
            background-size: 200% 200%;
            background-position: right center;
        }
    }
}